<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FEG</title>
    <link rel="apple-touch-icon" sizes="180x180" href="../static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/favicon/favicon-16x16.png">
    <link rel="manifest" href="../static/favicon/site.webmanifest">
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body data-new-gr-c-s-check-loaded="14.1028.0" data-gr-ext-installed="">

    <div class="container">
        <div class="starter-template">
            <h2>Face Emotion Gender detection</h2>
            <p>Upload an image and get to know the gender and emotion</p>
            <p> Max Image Size: 2 MB </p>
        </div>
    </div>

    <div class="container">
        <form method="post" enctype="multipart/form-data">
            <input type="file" name="file" onchange="loadFile(event)">
            <input type="submit" value="Upload" class="btn btn-primary">
        </form>
        <img id="output" alt="" width="40%" height="40%">
    </div>

    {% if data %}
    <div class="container" id="images">
        <img src="{{ data.processed_img }}" width="480px" height="360px" aria-label="Processed Image">
        <img src="{{ data.uploaded_img }}" width="480px" height="360px" aria-label="Image">
    </div>
    {% endif %}

</body>

</html>